compile = "./lint.sh && make"
run = "./blc examples/testing.bl"
hidden = ["**/*.o"]

[nix]
channel = "stable-22_11"

[languages]

[languages.c]
pattern = "**/*.{c,h}"

[languages.c.languageServer]
start = "ccls"
